---
import { getCollection, type CollectionEntry } from "astro:content";
import { Temporal } from '@js-temporal/polyfill';
import Layout from "@/src/layouts/Layout.astro";

export interface Props {
    post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
    const posts = await getCollection('post');
    return posts.map((post) => {
        const [lang, id] = post.slug.split('/');

        return {
            params: {
                id,
                lang,
            },
            props: {
                post,
            },
        };
    });
}

const { post } = Astro.props as Props;
const { Content: PostContent } = await post.render();

const date = Temporal.PlainDate.from(post.data.date)
---

<Layout title={`Roberto Nazareth - ${post.data.title}`}>
    <article class="mx-auto px-8 pb-5 w-full max-w-[70ch]">
        <header>
            <h1 class="mb-2 text-4xl font-bold text-zinc-900 dark:text-white">
                {post.data.title}
            </h1>
            <time class="m-0 text-slate-500 dark:text-zinc-400" date-time={post.data.date}>
                Postado em: {date.toLocaleString('pt-BR')}
            </time>
        </header>

        <main class="my-5 prose lg:prose-lg dark:prose-invert">
            <PostContent />
        </main>

        <a class="text-xl text-slate-500 dark:text-zinc-400" href="/">
            Voltar para a Home
        </a>
    </article>
</Layout>
