---
import Layout from '../layouts/Layout.astro';
import ProjetoCard from '../components/ProjetoCard.astro';
import { Content as TextoContato } from '../../data/textos/contato.md';
import type { Projeto } from '../../lib/projeto';

const projetos = await Astro.glob<Projeto>('../../data/projetos/*.md');
---

<Layout title="Roberto Guedes">
	<main>
		<div class="sobreMim">
			<h1 class="sectionTitle">Contato:</h1>
			<div class="caixa fadeIn">
				<div class="contato">
					<TextoContato />
				</div>
			</div>
		</div>

		<h1 class="sectionTitle">
			Portfólio:
		</h1>

		<div class="grid">
			{projetos.map((item) => (
				<ProjetoCard projeto={item.frontmatter} />
			))}
		</div>
	</main>
</Layout>

<style lang="scss">
	.sectionTitle {
		text-align: center;
	}

	.sobreMim {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 100px;
		margin-bottom: 20px;

		color: #313338;
		
		.caixa {
			padding: 20px;
			max-width: 800px;
			margin-left: 20px;
			margin-right: 20px;
			background-color: white;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
			transition: all 0.3s ease 0s;
		}
		
		.texto {
			font-size: large;
			text-align: justify;
		}
	
		.texto p:first-child {
			margin: 0px;
		}

		ul {
			margin: 2px;
		}
		
		.contato {
			font-size: large;
		}
	}

	h1 {
		font-family: 'Suez One', serif;
		font-size: 27px;
		margin: 0;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
		justify-items: center;
		gap: 10px;
	}

	@media screen and (max-width: 380px) {
		.grid {
			grid-template-columns: none;
		}

		.sobreMim {
			.caixa {
				padding: 11px;
				margin-left: 1px;
				margin-right: 1px;
			}
			
			.texto {
				text-align: left;
			}
			
			p {
				font-size: 16px;
			}
		}
	}
</style>
