---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '@/src/layouts/Layout.astro';
import { ProjetoCard } from '@/src/components/home/ProjetoCard';
import PostCard from '@/src/components/home/PostCard.astro';
import { ProjetoGaleria } from '../components/home/ProjetoGaleria';

const projetos = await getCollection('projeto');
const posts = await getCollection('post');
const contatoTexto = await getEntryBySlug('texto', 'contato');

const projetosDados = projetos.map(projeto => projeto.data);

const { Content: ContatoTexto } = await contatoTexto.render();
---

<Layout title="Roberto Nazareth">
	<main class="flex flex-col items-center">
		<h1 class="mb-4 text-3xl text-center font-asap dark:text-white">
			Contato:
		</h1>
		<div class="flex flex-col items-center mb-5 text-slate-700 dark:text-white">
			<div class="p-5 max-w-[800px] mx-5 bg-white dark:bg-zinc-800 rounded shadow-md">
				<div class="text-base text-justify md:text-lg">
					<ContatoTexto />
				</div>
			</div>
		</div>

		<ProjetoGaleria 
			client:idle
			nome="Portfólio"
			projetos={projetosDados}
		/>

		<h1 class="mb-4 text-3xl text-center font-asap dark:text-white">
			Blog:
		</h1>
		<div class="flex flex-col items-center mb-5">
			{posts.map(post => (
				<PostCard post={post} file={post.slug} />
			))}
		</div>
	</main>
</Layout>
