---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '@/src/layouts/Layout.astro';
import ProjetoCard from '@/src/components/ProjetoCard.astro';
import PostCard from '../components/PostCard.astro';

const projetos = await getCollection('projeto');
const posts = await getCollection('post');
const contatoTexto = await getEntryBySlug('texto', 'contato');

const { Content: ContatoTexto } = await contatoTexto.render();
---

<Layout title="Roberto Nazareth">
	<main class="flex flex-col items-center">
		<h1 class="text-center mb-4">
			Contato:
		</h1>
		<div class="flex flex-col items-center mb-5 text-slate-700">
			<div class="p-5 max-w-[800px] mx-5 bg-white rounded shadow-md fadeIn">
				<div class="text-base md:text-lg text-justify">
					<ContatoTexto />
				</div>
			</div>
		</div>

		<h1 class="text-center mb-4">
			Portfólio:
		</h1>
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 items-center justify-center mb-5">
			{projetos.map((item) => (
				<ProjetoCard projeto={item} />
			))}
		</div>

		<h1 class="text-center mb-4">
			Blog:
		</h1>
		<div class="flex flex-col items-center mb-5">
			{posts.map(post => (
				<PostCard post={post} file={post.slug} />
			))}
		</div>
	</main>
</Layout>

<style lang="scss">
	h1 {
		font-family: 'Suez One', serif;
		font-size: 27px;
		margin: 0;
	}
</style>
