---
export interface Props {
    href: string,
    text: string,
}

const { href, text } = Astro.props as Props;
---

<div class="button">
    <a 
        href={href}
        class="link"
        target="_blank"
        rel="noreferrer"
    >
        {text}
    </a>
</div>

<style lang="scss">
	$button-background: #313338;

	.button {
		display: flex; 
		justify-content: center;

		a {
			text-decoration: none;
			box-sizing: border-box;
		}
	}

    .link {
		margin: 5px;
		width: 100px;
		padding: 9px;
		border-radius: 5px;
		background-color: $button-background;
		color: white;
		
		p {
			font-size: medium;
		}
	}
</style>