---
export interface Props {
    href: string,
    text: string,
}

const { href, text } = Astro.props;
---

<div class="flex justify-center m-1">
    <a 
        href={href}
        class="w-24 p-2 text-white no-underline transition-all bg-gray-800 rounded hover:bg-gray-500 dark:bg-zinc-700 dark:hover:bg-zinc-500"
        target="_blank"
        rel="noreferrer"
    >
        {text}
    </a>
</div>