---
import '@/src/styles/globals.css'
import { getEntry } from 'astro:content';
import { ClientRouter } from 'astro:transitions';
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';
import { limparMetaTag } from '../lib/utils';
import { BackgroundLines } from '@/components/ui/background-lines';

export interface Props {
	title: string;
	withBackgroundLines?: boolean,
}

const { title } = Astro.props;

const descricaoMd = await getEntry('texto', 'sitedescricao');
const autor = 'Roberto Nazareth';
const keywords = [
	'Roberto Nazareth', 
	'Desenvolvedor Mobile',
	'React',
	'React Native',
	'Android',
	'iOS',
	'JavaScript',
	'TypeScript',
	'HTML',
	'Node.js',
	'Astro.build',
];
---

<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={limparMetaTag(descricaoMd!.body)} />
		<meta name="keywords" content={keywords.join(', ')}>
		<meta name="author" content={autor}>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>{title}</title>


		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap">
		</GoogleFontsOptimizer>

		<ClientRouter />
	</head>

	<body class="bg-slate-100 dark:bg-zinc-900">
		<header 
			class="flex items-center justify-center z-[100] top-0 h-[70px] w-full bg-white dark:bg-zinc-800 shadow-md"
		>					
			<a href="/" class="no-underline font-asap text-[27px] m-0">
				<h1 class="m-0 text-3xl font-bold text-slate-900 dark:text-white sm:text-4xl">
					ROBERTO NAZARETH
				</h1>	
			</a>
		</header>

		<div class="relative">
			{(Astro.props.withBackgroundLines) && (
				//@ts-ignore
				<BackgroundLines 
					className="fixed w-full h-full z-0" 
					client:only="react" 
					transition:persist
			  	/>
			)}

			<div class="z-50 pt-[30px]">
				<slot />
			</div>
		</div>

		{(import.meta.env.MODE === 'production') && (
			<>
				<!-- Google tag (gtag.js) -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=G-DQW33VQS0F"></script>
				<script>
					// @ts-nocheck
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());

					gtag('config', 'G-DQW33VQS0F');
				</script>
			</>
		)}
	</body>
</html>

<style is:global>
	html, body {
		padding: 0;
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
			Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		height: 100%;
	}

	a {
		color: inherit;
	}
</style>