---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>{title}</title>


		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap">
		</GoogleFontsOptimizer>
	</head>

	<body class="bg-slate-100 dark:bg-zinc-900">
		<header class="fixed flex items-center justify-center z-[100] top-0 mb-[100px] h-[70px] w-full bg-white dark:bg-zinc-800 shadow-md">					
			<a href="/" class="no-underline font-asap text-[27px] m-0">
				<h1 class="m-0 text-3xl font-bold text-slate-900 dark:text-white sm:text-4xl">
					ROBERTO NAZARETH
				</h1>	
			</a>
		</header>

		<div class="mt-[100px]">
			<slot />
		</div>

		{(import.meta.env.MODE === 'production') && (
			<>
				<!-- Google tag (gtag.js) -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=G-DQW33VQS0F"></script>
				<script>
					// @ts-nocheck
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-DQW33VQS0F');
				</script>
			</>
		)}
	</body>
</html>

<style is:global>
	html, body {
		padding: 0;
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
			Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		height: 100%;
	}

	a {
		color: inherit;
	}

	@keyframes fadeIn {
		0% { 
			opacity: 0; 
		}
		100% { 
			opacity: 1; 
		}
	} 

	.fadeIn {
		animation-name: fadeIn;
		animation-duration: 1s;
		transition: opacity 0.3s ease 0s;
	}
</style>